<header>
  <h1 id="title">Dropdown tests</h1>

  {{#link-to 'dropdown-test'}}Dropdown Test{{/link-to}} |
  {{#link-to 'dropdown-mixin-test'}}Dropdown Mixin Test{{/link-to}} |
  {{#link-to 'dropdown-with-checkbox-test'}}Dropdown with Checkbox Test{{/link-to}}
</header>

{{outlet}}
