<header>
  <h1 id="title">Dropdown tests</h1>

  {{#link-to 'dropdownTest'}}Dropdown Test{{/link-to}} |
  {{#link-to 'dropdownMixinTest'}}Dropdown Mixin Test{{/link-to}} |
  {{#link-to 'dropdownWithCheckboxTest'}}Dropdown with Checkbox Test{{/link-to}}
</header>

{{outlet}}